<template>
  <div id="hallo">
  <v-stepper alt-labels>
    <v-stepper-header>
      <v-stepper-step step="3" complete>Benutzeroberfläche</v-stepper-step>
      <v-divider></v-divider>
      <v-stepper-step step="4" complete>Server</v-stepper-step>
      <v-divider></v-divider>
      <v-stepper-step step="5" :rules="[() => false]">
        Custom channel
        <small>Alert message</small>
      </v-stepper-step>
      <v-divider></v-divider>
      <v-stepper-step step="6">Get code</v-stepper-step>
    </v-stepper-header>
  </v-stepper>
  </div>
</template>

<script>
export default {
  name: 'dashboard'
}
</script>