<template>
  <v-layout row>
      <v-flex xs8>
          <v-text-field
            name="server-ip"
            label="Server-Adresse"
            mask="###.###.###.###"
            default="192.168.0.1"
          ></v-text-field>
      </v-flex>
  </v-layout>
</template>

<script>
export default {
    name: 'settings'
}

</script>