<template>
  <v-app id="app">

    <!-- Toolbar -->
    <v-toolbar color="blue darken-3" dark app v-bind:clipped-left="$vuetify.breakpoint.lgAndUp" fixed>
      <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <span class="hidden-sm-and-down">Connected Box</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-avatar size="124px" tile>
        <img src="/src/assets/rhls_logo_no_text.svg" alt="RHLS">
      </v-avatar>
    </v-toolbar>

    <!-- Navigation Drawer -->
    <v-navigation-drawer fixed v-bind:clipped="$vuetify.breakpoint.lgAndUp" app v-model="drawer">
      <v-list>
        <template v-for="item in items">
          <v-layout row v-if="item.heading" align-center v-bind:key="item.heading">
            <v-flex xs6>
              <v-subheader v-if="item.heading">
                {{ item.heading }}
              </v-subheader>
            </v-flex>
            <v-flex xs6 class="text-xs-center">
              <a href="#!" class="body-2 black--text">EDIT</a>
            </v-flex>
          </v-layout>
          <v-list-group v-else-if="item.children" v-model="item.model" v-bind:key="item.text"
            :prepend-icon="item.model ? item.icon : item['icon-alt']" append-icon="">
            <v-list-tile slot="activator">
              <v-list-tile-content>
                <v-list-tile-title>
                  {{ item.text }}
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile v-for="(child, i) in item.children" v-bind:key="i">
              <v-list-tile-action v-if="child.icon">
                <v-icon>{{ child.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  {{ child.text }}
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list-group>
          <v-list-tile v-else :to="item.path" :key="item.text">
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>
                {{ item.text }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list>
    </v-navigation-drawer>


    <v-content>
      <v-container fluid >
        <router-view></router-view>

        <!--<v-layout justify-center align-center>
         
        </v-layout>-->
      </v-container>
    </v-content>
   
  </v-app>
</template>

<script>
  export default {
    data: () => ({
      dialog: false,
      drawer: null,
      items: [
        { icon: 'dashboard', text: 'Dashboard', path: '/dashboard' },
        {
          icon: 'keyboard_arrow_up',
          'icon-alt': 'keyboard_arrow_down',
          text: 'Sensoren',
          model: true,
          children: [
            { text: 'VL53L0X Entfernungssensor' },
            { text: 'PT-100 Temperatursensor'},
            { text: 'PT-100 Temperatursensor'},
            { text: 'ZL12 Lichtschranke'}
          ]
        },
        {
          icon: 'keyboard_arrow_up',
          'icon-alt': 'keyboard_arrow_down',
          text: 'Systeminformationen',
          model: false,
          children: [
            { text: 'Temperatur' },
            { text: 'Druck' },
            { text: 'Lichtschranken' },
            { text: 'Materalien' },
            { text: 'Andere' }
          ]
        },
        { icon: 'settings', text: 'Einstellungen', path: '/settings'},
        { icon: 'history', text: 'Log', path: '/log' }

      ]
    }),
    props: {
      source: String
    }
  }
</script>